* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    @media screen {
        padding: 2em;
    }
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
    margin: 0;
    padding: 0 0 1em 0;
}

table {
    text-align: left;
    border-collapse: collapse;
    // width: 100%;
    margin: 0 0 1em 0;
    padding: 0;

    border: thin solid;
    th,
    td {
        padding: 0.7em 0.9em;
        border: thin solid;
        p:only-child {
            padding: 0;
        }
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em 0;
    padding: 0;
    // border: thin solid;
    &.small {
        width: auto;
        margin: 0 auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 1.5em 0 0.5em 0;
    a {
        text-decoration: none;
        color: inherit;
    }
}

h1 {
    font-size: 300%;
    + h2 {
        padding-top: 0;
    }
}

h2 {
    font-size: 200%;
    + h3 {
        padding-top: 0;
    }
}

h3 {
    font-size: 150%;
    + h4 {
        padding-top: 0;
    }
}

h4 {
    font-size: 125%;
    + h5 {
        padding-top: 0;
    }
}
h5 {
    font-size: 100%;
}

.book-title {
    text-align: center;
    font-size: 100%;
    .line0 {
        font-size: 300%;
    }
    padding-bottom: 5em;
    @media print {
        display: none;
    }
}

.html-page + .html-page {
    @media screen {
        padding-top: 4em;
    }
    @media print {
        page-break-before: always;
    }
}
